/* public/index.css */

/* Apply a global box-sizing rule */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin and padding */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', 'Helvetica', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Root container styling */
.root-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    padding: 20px; /* Add padding for better appearance on smaller screens */
    background-color: #002244;
}

/* Form container styling */
.auth-form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    border: 1px solid #e1e1e1;
}

.user-profile-form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    border: 1px solid #e1e1e1;
}

.form-group {
    margin-bottom: 16px;
}

.checkbox-group {
    display: flex;
    align-items: center;
}

.checkbox-group label {
    margin-right: 5px;
    min-width: 120px;
}

.checkbox-group input[type="checkbox"] {
    margin-left: auto; /* Aligns the checkbox to the right of the label */
}

/* Typography */
h2 {
    margin-top: 0;
    text-align: center;
    color: #002244;
    font-family: 'Arial', 'Helvetica', sans-serif;
}

p {
    text-align: center;
    color: #333;
}

/* Form styling */
.form-group {
    margin-bottom: 16px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="email"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f4f4f4;
}

input[type="checkbox"] {
    width: 10%;
    padding: 10px;
    margin-bottom: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f4f4f4;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #01733F;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #002244;
}

/* Link styling */
a {
    color: #01733F;
    text-decoration: none;
}

a:hover {
    color: #002244;
    text-decoration: underline;
}
